<!DOCTYPE html>
<html>
<head>
  <meta property="weixin:image" content="http://www.iwpr.org/graphics/facebook-small-icon" />
  <meta property="weibo:image" content="http://www.iwpr.org/graphics/facebook-small-icon" />
  <meta property="og:image" content="http://www.iwpr.org/graphics/facebook-small-icon" />
  <title>Wechat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'http://res.wx.qq.com/open/js/jweixin-1.0.0.js' %>
  <%= csrf_meta_tags %>
  <link href="https://cdn.youracclaim.com/assets/apple-touch-icon-72x72-precomposed-abbfd4e9d1f0e22fca7e29bb98d89fc0.png" rel="apple-touch-icon-precomposed" sizes="72x72">
</head>
<body>

<%= yield %>

</body>
</html>
