<!DOCTYPE html>
<html>
<head>
  <title>Wechat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'http://res.wx.qq.com/open/js/jweixin-1.0.0.js' %>
  <%= csrf_meta_tags %>
  <meta property="og:image" content="https://acclaim-production-app.s3.amazonaws.com/images/482a8c1c-b984-41aa-b30a-3a038fa1e7cc/bcfff5e98770d9ee81a517561c72b8f0f9b9fa6f.png" />
  <link href="https://cdn.youracclaim.com/assets/apple-touch-icon-72x72-precomposed-abbfd4e9d1f0e22fca7e29bb98d89fc0.png" rel="apple-touch-icon-precomposed" sizes="72x72">
</head>
<body>

<%= yield %>

</body>
</html>
